.App {
  background: #f4f4f4;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x:hidden;
}

.navbar {
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
  width: 100%;
}

.counter {
  position: fixed;
  top: 60px;
  left: 30px;
}

.delete {
  position: fixed;
  top: 90px;
  right: 30px;
}

.btn__delete {
  font-size: 18px;
  border-radius: 5%;
  outline: none;
  padding: 5px;
  border: 1px solid #fff;
  background-color: green;
  color: #fff;
}

.controls {
  width: 50%;
  height: 150px;
  margin: 50px auto;
}

.controls__input {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.controls__input input {
 margin: 10px 0;
 padding: 5px;
 font-size: 18px;
 border: 1px solid #f4f4f4;
}

.controls__input button {
  width: 21%;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  border-radius: 5%;
  padding: 5px;
  border: 1px solid #fff;
  background-color: green;
  color: #fff;
}

.meals__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.meals__list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 16px;
}

.meals__list__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px;
  width: 50%;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 5%;
  font-size: 18px;
  font-weight: 800;
}

.meals__list__inner button {
  outline: none;
  text-align: center;
  font-size: 18px;
  border-radius: 5%;
  padding: 5px;
  border: 1px solid #fff;
  background-color: green;
  color: #fff;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 250px;
  width: 300px;
  background: #eeeeee;
  border: 1px solid lightgray;
  border-radius: 5%;
}

.modal button {
  outline: none;
  width:90%;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  background: green;
  color: #fff;
  border-radius: 5%;
  border: 1px solid #f4f4f4;


}


span {
  color: green;
}
